<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/css/sb-admin-2.css" rel="stylesheet">
    <style>
            .camera-icon {
            position: absolute;
            width: 30px;
            height: 30px;
            cursor: pointer;
            border: 2px solid #000; /* Agregar un borde */
            border-radius: 50%; /* Hacer que el borde sea redondeado */
            background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
            transition: transform 0.2s; /* Efecto de transición */
        }
        .camera-icon:hover {
            transform: scale(1.2); /* Efecto de ampliación al pasar el mouse */
            border-color: red; /* Cambiar el color del borde al pasar el mouse */
        }
        .highlight {
            background-color: #ead1d1be; /* Cambia el color de fondo según tu preferencia */
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" >
                <div class="sidebar-brand-icon ">
                    <img src="static/img/logo.jpeg" 
                    width="50"
                    height="50"/>
                </div>
                <div class="sidebar-brand-text mx-3">Traking </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">



            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/inicio">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Supervisor</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Menu
            </div>

            <!-- Mytrakings Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/mytrakings" >
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>My trakings</span>
                </a>
            </li>

            <!-- Configuration - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/userconfig"    >
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Configuration</span>
                </a>
            </li>



            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>

                

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Nombre de usuario </span>
                            <img class="img-profile rounded-circle"
                                src="static/img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Supervisor</h1>
                        
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                My trakings</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Current Trakings</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Available Cameras
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{camara_datos|length}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>



                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Camera Map Overview</h6>
                                    
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <img src="static/img/mapa.png" width="780" height="500"/>
                                    <!-- CAMERAS ICONS-->
                                    <img src="static/img/camara.png" class="camera-icon" style="top: 171px; left: 750px;" data-row-id="1" />
                                    <img src="static/img/camara.png" class="camera-icon" style="top: 530px; left: 134px;" data-row-id="2"/>
                                    <img src="static/img/camara.png" class="camera-icon" style="top: 530px; left: 396px;" data-row-id="3" />
                                    <img src="static/img/camara.png" class="camera-icon" style="top: 530px; left: 657px;" data-row-id="4" />
                                    <img src="static/img/camara.png" class="camera-icon" style="top: 485px; left: 750px;" data-row-id="5" />
                                </div>
                            </div>  
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Camera Info</h6>
                                    
                                </div>
                            
                                <!-- Card Body -->
                                <div class="card-body">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <!-- Sale al inicio  -->
                                        <thead align="center">
                                            <tr>
                                                <th>Id</th>
                                                <th>Ubicación</th>
                                                <th>Estado</th>
                                                <th>Ver</th>
                                            </tr>
                                        </thead>
                                        <!-- Datos de la base de datos -->
                                        <tbody>
                                            {% if camara_datos|length == 0 %}
                                            <tr>
                                                <td colspan="5">No hay cámaras disponibles</td>
                                            </tr>
                                            {% else %}
                                            {% for row in camara_datos %}
                                            <tr  id = "{{row[0]}}">
                                                <td>{{ row[1] }}</td>
                                                <td>{{ row[3] }}</td>
                                                <td>{{ row[4] }}</td>
                                                <td align="center">
                                                    <button type="button" class="btn btn-sm btn-warning btn-flat view-camera-btn" data-camera-id = {{row[0]}} title="Ver"><span
                                                        class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endif%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Camera Map Overview</h6>
                                    
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <img id="camera-feed" src = "static/img/camara_error.png" width="780" height="500"/>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Vehicle Info</h6>
                                    
                            </div>

                                <!-- Card Body -->
                                <div class="card-body">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <!-- Sale al inicio  -->
                                        <thead align="center">
                                            <tr>
                                                <th>Color</th>
                                                <th>Tipo</th>
                                                <th>Traking</th>
                                            </tr>
                                        </thead>
                                                <!-- Datos de la base de datos -->
                                        <tbody>
                                            {% if detected_colors_hex|length == 0 %}
                                            <tr>
                                                <td colspan="3">Ningún auto detectado</td>
                                            </tr>
                                            {% else %}
                                            {% for color in  detected_colors_hex%}
                                            <tr align="center">    
                                                <td style="background-color: #{{color}};"></td>
                                                <td>Vehiculo</td>
                                                <td>
                                                    <form action="{{ url_for('start_tracking') }}" method="post" style="display: inline;">
                                                        <input type="hidden" name="color" value="{{color}}">
                                                        <input type="hidden" name="camera_id" id = "selected-camera-id" value=""> <!-- Ajusta según el índice correcto -->
                                                        <button type="submit" class="btn btn-link" style="padding: 0;">Start Tracking</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endif%}
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="static/js/demo/chart-area-demo.js"></script>
    <script src="static/js/demo/chart-pie-demo.js"></script>
    <script>
        document.querySelectorAll('.camera-icon').forEach(icon => {
            icon.addEventListener('mouseenter', () => {
                const rowId = icon.getAttribute('data-row-id');
                document.getElementById(rowId).classList.add('highlight');
            });
            icon.addEventListener('mouseleave', () => {
                const rowId = icon.getAttribute('data-row-id');
                document.getElementById(rowId).classList.remove('highlight');
            });
        });
        document.querySelectorAll('.view-camera-btn').forEach(button => {
            button.addEventListener('click', () => {
                const cameraId = button.getAttribute('data-camera-id');
                document.getElementById('camera-feed').src =  `/video_feed/${cameraId}`;
                document.querySelectorAll('#selected-camera-id').forEach(input => {
                    input.value = cameraId;
                });
            });
        });
    </script>
</body>

</html>